<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Kanit&family=Lato&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Tracker</title>
    <link rel="stylesheet" href="css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script>
        function getCookie(name) {
            return (name = (document.cookie + ';').match(new RegExp(name + '=.*;'))) && name[0].split(/=|;/)[1];
        }
        window.onload= function() {
            document.querySelector("#username").textContent=getCookie("UserName");   
            return
        }
    </script>
</head>
<body>
    <div class="sidenav">
        <div class = "top">
            <div class = "logo">
                <i class = "bx bx-dumbbell"></i>
                <span>StrongSquad</span>
            </div>
            <i class ="bx bx-menu" id = btn></i>
        </div>
        
        <!-- <div class = "user">
            <img src = "Headshot.png" alt = "me" class = "user-img">
            <div>
                <p class = "bold">Username</p>
                <p>Admin</p>
            </div>
        </div> -->
        <ul>
            <li>
                <a href="#">
                    <i class="bx bxs-grid-alt"></i>
                    <span class ="nav-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-info-circle"></i>
                    <span class ="nav-item">About</span>
                </a>
                <span class="tooltip">About</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-food-menu"></i>
                    <span class ="nav-item">Services</span>
                </a>
                <span class="tooltip">Services</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-contact"></i>
                    <span class ="nav-item">Contact</span>
                </a>
                <span class="tooltip">Contact</span>
            </li>
            <li>
                <a href="/logout">
                    <i class="bx bx-log-out"></i>
                    <span class ="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
        
    </div>
    
    <div class="main-content">
        <div class = "container1">
            <h1>Welcome to our Gym Tracker</h1>
            <div class="user-dropdown">
                <div class="user-dropdown-btn">
                <div class = "user">
                    <img src = "img/profilepic.png" class = "user-img">
                </div>
                <span id="username">
                    Username
                </span>
                </div>
                
                <ul class=" user-dropdown-list">
                    <li class="user-dropdown-list-item">
                        <a class="btn" href="editUser.html">
                                Edit Profile
                            </i>
                        </a>                    
                    </li>
                    <li class="user-dropdown-list-item">
                        <a href="/logout">
                                Logout
                            </i>
                        </a>                    
                    </li>
                </ul>
            </div>
            
        </div>

        <section id="home">
            <hr>
            <div class = "BodyContainer">
            <a class= "StartedButton" href="function.html">Get Started
                <p>Track your lifts, monitor your progress, and analyze your performance.</p>
            </a>
            
            <a class ="SecondaryButton" href="maxCalc.html">Max Lift
                <p>Calculate your estimated max lift based on your 5 rep max.</p>
            </a>
            <div class ="box">3</div>
            
            <div class ="box">
                <div class ="boxHeader">Friend Activity</div>
            </div>
        </div>


        
        </section>
        
        
    
        
        
        
        
        
    
    </div>
    
    <footer>
      
            <p>&copy; 2024 Strong Squad. All rights reserved.</p>
        
    </footer>
</body>

<script>
    let btn = document.querySelector('#btn')
    let sidenav = document.querySelector('.sidenav')

    btn.onclick=function()
    {
        sidenav.classList.toggle('active')
    };
</script>
</html>
