<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Tracker Password Reset</title>
    <link rel="stylesheet" href="css/pwreset.css">
</head>
<body>
    <div class="wrapper">
    <div class="container">
        <form action="" class = "form">
            <h1>RESET PASSWORD</h1>
            <h2>Enter the email associated with your account.</h2>
            <input type="email" name = "email" class="box" placeholder="Enter Email">
            <input type ="submit" value="Send Reset Email" id = "submit">
        </form>
    </div>
    </div>

</body>
</html>
