<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Story</title>
    <link rel="stylesheet" href="css/services.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Services</h1>
        <nav>
            <ul>
                <li><a href="./main">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="content">
            <div class="image">
                <img src="img/services1.jpg" alt="About Image">
            </div>
            <div class="text">
                <h2>Our Services</h2>
                <p>Welcome to our weight lifting tracking service! At our platform, we offer a comprehensive suite of tools designed to elevate your fitness journey to new heights. Whether you're a seasoned lifter or just starting out, our intuitive interface and powerful features provide you with the perfect solution to monitor your progress, set achievable goals, and stay motivated every step of the way. From logging your workouts with ease to analyzing your performance over time, our service is tailored to meet the diverse needs of weightlifters of all levels. Join us today and unlock the potential to sculpt your strongest, healthiest self.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Strong Squad. All rights reserved.</p>
    </footer>
</body>
</html>
