<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Tracker Login</title>
    <link rel="stylesheet" href="css/signUp.css">
</head>
<body>
    <div class="container">
        <form target="_blank" action="register" class = "form" method = "POST">
            <h2>Register</h2>
            <p class = "requiredEmail">User *</p>
            <input type="user" name = "user" id="user" class="box" placeholder="Enter Username">
            <p class = "required">Password *</p>
            <input type = "password" name ="pwd" class="box" placeholder="Enter Password">
            <input type ="" value="Sign Up" id="submit", onclick="submitForm()">
            <a href="#">Forget Password?</a>
        </form>

        <script>
            function submitForm() {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "register");
                xhr.onload = function(event){ 
                    if (event.target.code==409) {
                        alert("Error! " + event.target.response); // raw response
                        document.getElementById("user")
                    } else
                        alert("Account Created")
                };
                // or onerror, onabort
                let form = document.forms[0];
                var formData = new FormData(form); 
                console.log(JSON.stringify(Object.fromEntries(formData)))
                alert("Sending Data")
                xhr.send(new URLSearchParams(formData));
            }
        </script>

        <div class="side">
            <img src="img/loginImage.png" alt="login image">
        </div>
    </div>

</body>
</html>