*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
  }
  :root{
    --dark: #4D3E3E;
    --light: #886E6E;
    --accent: #FF8686;
  }
.wrapper{
    width:100%;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:var(--dark);

}
  .container{
    background-color: var(--light);
    width: 500px;
    padding: 30px;
    padding-bottom:50px;
    justify-content:center;
    border-radius: 20px;
    color: white;
    box-shadow: 5px 5px 10px #151111;

  }

  /*Form*/
  .form h1{
    font-size: 30px;
    padding-bottom:5px;
  }
  .form h2{
    font-size: 15px;
    padding-bottom: 10px;
    font-weight:100
  }
  .box{
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: none;
    padding-left: 10px;
  }
  #submit{
    width: 30%;
    margin-top: 10px;
    background-color: var(--dark);
    color: white;
    border: none;
    border-radius:6px;
    padding: 7px;
  }
  #submit:hover{
    background-color: var(--accent);
    color: black;
    cursor:pointer;
  }